{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{background}}')">{{title}}</section>

{{/banner}}

  {{^list}}
  <div class="container no-list">
      <form id="randomize-form" action="/rand-class" method="get">      
          <div class="center-screen">
              <button id="macabreButton" class="px-28 py-28 bg-red-800 border border-gray-700 rounded-full text-white hover:bg-gray-800 transform transition-transform hover:scale-110 shadow-lg" onclick="showContent()">
              Random My Class
              </button>
          </div>
      </form>
  </div>
  {{/list}}

  {{#list}}
      <div id="content" class="meio items-center justify-center center">
        <div class="container list">
          <div class="item">
            <div class="flex row space-x-10">
                <div class="column">
                    <div class="rounded-image">
                    <img src="https://poe.ninja/images/classes/{{class}}_avatar.png" class="item--image" alt="Class" />
                    </div>
                    <div class="item--name text-amber-100 ml-10 mt-4">Class: {{class}}</div>
                </div>
                <div class="column">
                    <div class="rounded-image">
                    <img src="https://poe.ninja/images/classes/{{ascendance}}_avatar.png" class="item--image" alt="Class" />
                    </div>
                    <div id="ascendenceDiv" class="item--genre text-amber-100 ml-10 mt-4">Ascendencia: {{ascendance}}</div>
                </div>
            </div>
            
          </div>
          {{#asce}}
          <div class="item center-image">
            <div class="rounded-image">
              <img src="images/{{asce}}.jpg" class="item--image" alt="{{asce}}" />
            </div>
            <div class="item--name">{{asce}}</div>
          </div>
      {{/asce}}
  </div>    
  {{/list}}

  <script>
  // Function to hide the button and show the content
  function showContent() {
      var button = document.getElementById('macabreButton');
      var content = document.getElementById('content');
      button.style.display = 'none';
      content.style.display = 'block';
  }
  </script>
  <!-- {{>partials/footer}} -->
</body>
</html>
{{>partials/footer}}

